<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <header>
        <a href="index.html" class="logo">PRATIK NANDESHWAR</a>

        <a href="blog.html" class="blog-link">Blog</a>
    </header>

    <main style="padding-bottom: 100px;">
        <article>
            <h1>{{ POST_TITLE }}</h1>
            <p class="post-date">Published on: {{ POST_DATE }}</p>
            <hr>
            {{ POST_CONTENT }}
        </article>
    </main>

    <footer>
        <p>&copy; 2025 [Your Name]</p>
    </footer>
</body>

</html>